*.iml
.gradle
**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx

xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

*.jks
*.p8
*.p12
*.key

*.hprof
*.log

kotlin-js-store/
.kotlin/sessions/
output/playwright/
